.btn {
  padding: 8px 16px;
  border-radius: 8px;
  background: var(--color-btn-bg);
  color: white;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: background var(--d-short);

  @media (min-width: 768px) {
    padding: 12px 24px;
  }
}

.btn span,
.btn .btn__text {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 700;
}

.btn:hover {
  background: var(--color-btn-bg-hover);
}

.btn:focus-visible {
  outline: 2px solid var(--default-focus);
  outline-offset: 4px;
}

.btn.btn--primary {
  background: var(--color-active);
}

.btn.btn--primary:hover {
  background: var(--color-active-hover);
}
